.container {
  width: 100%;
  padding: 2px;
}

.header {
  font-size: 16px;
  font-weight: 600;
  color: #5c5c5c;
  margin-bottom: 8px;
  text-align: center;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.searchFields {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.inputName {
  padding: 10px 14px;
  border: 2px solid var(--dark_purple);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--rich-black);
  color: #fff;
  transition: border-color 0.2s;
  width: 70% !important;
  text-align: center;
}

.inputId {
  padding: 10px 14px;
  border: 2px solid var(--dark_purple);
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--rich-black);
  color: #fff;
  transition: border-color 0.2s;
  width: 25%;
  text-align: center;
}

.inputName:focus, .inputId:focus {
  border-color: var(--white);
  outline: none;
}

.inputError {
  border-color: var(--error_red);
}

.addButton,
.backButton {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
}

.addButton {
  background-color: var(--dark_green);
  color: white;
}

.addButton:hover {
  background-color: var(--light_green);
}

.addButton:disabled {
  background-color: var(--stone_gray);
  cursor: not-allowed;
}

.backButton {
  border: 2px solid var(--dark_red);
  color: white;
  width: 30%;
  padding: 10px;
}

.backButton:hover {
  background-color: var(--dark_red);
}

.separator{
  font-size: 18px;
  font-weight: bold;
}

.errorMessage {
  color: #f44336;
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
}

.successMessage {
  color: #4caf50;
  font-size: 14px;
  margin-top: 8px;
  font-weight: bold;
}

.loaderContainer{
  float: right;
}

.loader {
  width: 10px;
  aspect-ratio: 1;
  border: 10px solid #949494;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}

.loader::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  animation: l18 5s infinite linear;
}

@keyframes l18 {
    0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}