.authWrapper {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark_black);
  overflow: hidden;
  z-index: 10;
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
}

.bgBox {
  top: 60vh;
  position: absolute;
  border-radius: 10px;
  width: 120px;
  height: 100vh;
  border: 3px solid var(--dark_purple);
  transform: rotate(45deg);
  left: 0;
}

.firstBox {
  left: 250px;
}

.secondBox {
  left: 500px;
}

.thirdBox {
  left: 750px;
}

.zeroBox {
  left: -250px;
}

.down {
  position: absolute;
  left: 60%;
  top: 0;
  transform: translateX(-900px);
  animation-name: down;
  animation-duration: 1.5s;
}

.up {
  position: absolute;
  top: -100vh;
  animation-name: up;
  animation-duration: 1.5s;
  left: 60%;
}

@keyframes up {
  from {
    top: -120vh;
    left: 70%;
  }

  to {
    top: -100vh;
    left: 60%;
  }
}

@keyframes down {
  from {
    top: 20vh;
    left: 50%;
  }

  to {
    top: 0;
    left: 60%;
  }
}

.box {
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 450px;
  padding: 20px 40px 40px 40px;
  border: 2px solid var(--dark_blue);
  backdrop-filter: blur(7px);
}

.box h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 0 30px 0;
}

.backButton {
  color: #fff;
  text-decoration: "none";
  display: "inline-flex";
  align-items: "center";
}

.input {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--dark_purple);
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  font-size: 17px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.input:focus {
  width: 360px;
  border-color: var(--light_purple);
}

.submitButton {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--dark_purple);
  padding: 14px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 17px;
}

.submitButton:hover {
  background: var(--dark_purple);
}

.required {
  font-size: 14px;
  padding: 0;
  color: #fff;
}

.link {
  padding-top: 10px;
  color: #fff;
  font-size: 17px;
}

.authLink {
  color: var(--dark_cyan);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.2s ease;
  position: relative;
  padding-bottom: 2px;
  font-size: 17px;
}

.authLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--light_cyan);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}

.authLink:hover {
  color: var(--light_cyan);
}

.authLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.small {
  margin-top: -5px;
  padding-top: 0;
  font-size: 12px;
}

.errorMessage {
  color: var(--error_red);
  font-weight: 700;
}

.form {
  position: relative;
  z-index: 15;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .box {
    width: 90%;
    padding: 20px;
  }

  .input {
    width: 80%;
  }

  .input:focus {
    width: 85%;
  }
}

@media (max-height: 700px) {
  .box {
    padding: 0;
  }

  .box h1 {
    padding: 0;
  }

  .submitButton {
    margin-bottom: 0;
    margin-top: 0;
  }

  .link {
    padding-top: 0;
  }

  .input {
    height: 23120px;
  }
}
