.chat-container {
  color: var(--off-white);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "left-sidebar main right-sidebar";
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--rich-black);
  transition: all 0.3s ease;
  box-shadow: var(--shadow-effect);
}

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--charcoal);
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Left Sidebar */
.left-sidebar {
  grid-area: left-sidebar;
  border-right: 1px solid var(--shadow-black);
  width: 300px;
}

.left-sidebar.closed {
  width: 60px;
}

/* Right Sidebar */
.right-sidebar {
  grid-area: right-sidebar;
  width: 0;
  border-left: 1px solid var(--dark_purple);
  transition: width 0.3s ease;
  overflow: hidden;
}

.right-sidebar.open {
  width: 500px;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 100px;
  border-bottom: 1px solid var(--dark_blue);
  background-color: var(--dark_black);
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Avatar */
.avatar {
  border-radius: 50%;
}

/* Username */
.username {
  font-size: 16px;
  font-weight: 500;
}

/* Controls */
.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Icon Button */
.icon-button {
  background: none;
  border: none;
  color: var(--silver);
  font-size: 16px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-right: 10px;
}

.icon-button:hover {
  background-color: var(--dark_purple);
  color: var(--off-white);
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Close Button */
.close-button {
  background: none;
  border: none;
  font-size: 20px;
  color: var(--silver);
  cursor: pointer;
  transition: all 0.2s;
}

.close-button:hover {
  color: var(--off-white);
}

/* Contact Profile Container */
.contact-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Contact Profile */
.contact-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--dark_blue);
  height: 250px;
}

/* Profile Name */
.profile-name {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2px;
}

/* Profile ID */
.profileId {
  color: var(--medium-slate);
  margin-bottom: 5px;
}

/* Profile Details */
.profile-details {
  padding: 15px 20px;
  border-bottom: 1px solid var(--shadow-black);
}

/* Profile Section */
.profile-section {
  margin-bottom: 15px;
}

/* Profile Section Title */
.profile-section-title {
  font-size: 14px;
  color: var(--silver);
  margin-bottom: 5px;
  font-weight: normal;
}

/* Profile Section Content */
.profile-section-content {
  font-size: 15px;
  line-height: 1.5;
}

/* Status Badge */
.status-badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  background-color: rgba(76, 175, 80, 0.1);
}

/* Online Status */
.status-badge.online {
  color: var(--forest-green);
  background-color: rgba(74, 222, 128, 0.2);
}

/* Offline Status */
.status-badge.offline {
  color: var(--stone-gray);
  background-color: rgba(128, 128, 128, 0.2);
}

.friendControll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  transition: all 0.3s ease;
}

@media (max-width: 1400px) {
  .right-sidebar.open {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .right-sidebar.open {
    width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .chat-container.right-open .chat-main {
    display: none;
  }

  .right-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 11111;
    transition: width 0.3s ease;
  }

  .right-sidebar.open {
    width: calc(100% - 300px) !important;
  }

  .chat-container.left-closed .right-sidebar.open {
    width: calc(100% - 60px) !important;
  }
}

@media (max-width: 576px) {
  .right-sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    width: 100% !important;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .right-sidebar.open {
    transform: translateX(0);
  }
}

@media (max-width: 576px) {
  .chat-container {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }

  .left-sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 10;
    transform: none;
  }

  .left-sidebar.closed {
    display: none;
  }

  .chat-main {
    grid-area: main;
    height: 100vh;
  }

  .right-sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    width: 100% !important;
    z-index: 20;
    transform: translateX(100%);
  }

  .right-sidebar.open {
    transform: translateX(0);
  }
}
