.chat-container {
  color: var(--off-white);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "left-sidebar main right-sidebar";
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--rich-black);
  transition: all 0.3s ease;
  box-shadow: var(--shadow-effect);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--light_black);
  transition: all 0.3s ease;
  overflow: hidden;
}

.left-sidebar {
  grid-area: left-sidebar;
  border-right: 1px solid var(--dark_purple);
  width: 300px;
}

.left-sidebar.closed {
  width: 60px;
}

.right-sidebar {
  grid-area: right-sidebar;
  width: 0;
  border-left: 1px solid var(--dark_purple);
  transition: width 0.3s ease;
  overflow: hidden;
}

.right-sidebar.open {
  width: 500px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 100px;
  border-bottom: 1px solid var(--dark_blue);
  background-color: var(--dark_black);
}

.icon-button {
  background: none;
  border: none;
  color: var(--silver);
  font-size: 16px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-right: 10px;
}

.icon-button:hover {
  background-color: var(--dark_purple);
  color: var(--off-white);
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 20%;
}

.username {
  font-size: 16px;
  font-weight: 500;
  max-width: 150px;
  overflow-wrap: break-word;
}

.controls {
  display: flex;
  align-items: center;
}

.contact-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 20px;
}

.friendControll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  transition: all 0.3s ease;
}

.profileWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.profileWrapper:hover {
  background: var(--light_black);
}

@media (max-width: 1400px) {
  .right-sidebar.open {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .right-sidebar.open {
    width: 350px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .chat-container.right-open .chat-main {
    display: none;
  }

  .right-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 11111;
    transition: width 0.3s ease;
  }

  .right-sidebar.open {
    width: calc(100% - 300px) !important;
  }

  .chat-container.left-closed .right-sidebar.open {
    width: calc(100% - 60px) !important;
  }
}

@media (max-width: 576px) {
  .chat-container {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }

  .left-sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 10;
    transform: none;
  }

  .left-sidebar.closed {
    display: none;
  }

  .chat-main {
    grid-area: main;
    height: 100vh;
  }

  .right-sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    width: 100% !important;
    z-index: 20;
    display: none;
  }

  .right-sidebar.open {
    display: block;
  }
}