.container {
    width: 100%;
    padding: 2px;
}

.header {
    font-size: 16px;
    font-weight: 600;
    color: #5c5c5c;
    margin-bottom: 8px;
    text-align: center;
}

.empty {
    color: #888;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.cardsHolder{
    max-height: 250px;
    overflow-y: auto;
    border-radius: 8px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--rich-black);
    margin-top: 6px;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    width: 100%;
}

.cardLessWidth{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--rich-black);
    margin-top: 6px;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    width: 98%;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    object-fit: cover;
}

.name {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.id {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100px;
}

.button {
    background-color: var(--dark_green);
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
}

.button:hover {
  background-color: var(--light_green);
}

.acceptButton {
    background-color: var(--dark_green);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    flex: 1;
}

.acceptButton:hover {
    background-color: var(--light_green);
}

.rejectButton {
    background-color: var(--dark_red);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
    flex: 1;
}

.rejectButton:hover {
    background-color: var(--error_red);
}

.closeButton {
    border: 2px solid var(--dark_red);
    color: white;
    width: 30%;
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: none;
  }
  
  .closeButton:hover {
    background-color: var(--dark_red);
  }

.timestamp {
    font-size: 12px;
    color: #999;
    margin-top: 4px;
}

@media (max-width: 768px) {
    .actions {
        justify-content: space-between;
    }
}