.loginsContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

.loginsTitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--off-white);
  border-bottom: 1px solid var(--dark_blue);
  padding-bottom: 10px;
}

.loginsSection {
  margin-top: 20px;
}

.loginSectionTitle {
  font-size: 1.2rem;
  color: var(--medium-slate);
  margin-bottom: 10px;
}

.loginDevices {
  border-radius: 8px;
  overflow: hidden;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: var(--rich-black);
  padding: 15px;
}

.gridHeader {
  font-weight: bold;
  color: var(--off-white);
}

.reportItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: var(--charcoal);
  border-bottom: 1px solid var(--dark_purple);
}

.gridCell {
  font-size: 0.9rem;
  color: var(--off-white);
  margin: 0 5px 0 5px;
}

.loggedIn {
  color: var(--dark_green);
}

.loggedOut {
  color: var(--error_red);
}

.expandButton {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expandIcon {
  font-size: 1.2rem;
  color: var(--off-white);
}

.expandedDetails {
  padding: 10px;
  background-color: var(--medium-slate);
  margin-top: 10px;
  border-radius: 8px;
  grid-column: 1 / -1;
}

.detailsRow {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.detailsLabel {
  font-weight: bold;
}

.thisSession {
  margin: auto;
  color: var(--li);
  margin-bottom: 5px;
  background-color: var(--dark_green);
  padding: 3px;
  border-radius: 10px;
}

.detailsValue {
  color: var(--off-white);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }

  .reportItem {
    grid-template-columns: 1fr 1fr;
  }

  .detailsRow {
    flex-direction: column;
  }

  .expandIcon {
    font-size: 1.5rem;
  }
}
