/* Main message container */
.chat-main {
  display: flex;
  flex-direction: column;
  background-color: var(--rich-black);
  background-image: var(--dark-gradient);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Header section */
.chat-header {
  padding: 10px 20px;
  height: 100px;
  border-bottom: 1px solid var(--shadow-black);
  display: flex;
  align-items: center;
  background-color: var(--charcoal);
}

.contact-info-button {
  display: flex;
  align-items: center;
  gap: 15px;
  background: none;
  border: none;
  color: var(--off-white);
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  text-align: left;
}

.contact-info-button h1 {
  font-size: 18px;
  font-weight: 500;
}

/* Avatar & Button styles */
.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.icon-button {
  background: none;
  border: none;
  color: var(--silver);
  font-size: 16px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-right: 10px;
}

/* Messages container */
.messages-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  position: relative;
}

.incoming {
  align-self: flex-start;
}

.outgoing {
  align-self: flex-end;
}

.messageContent {
  padding: 12px 16px;
  border-radius: 18px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--off-white);
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 6px;
}

.incoming .messageContent {
  background-color: var(--dark_blue);
  border-bottom-left-radius: 4px;
}

.outgoing .messageContent {
  background-color: var(--dark_purple);
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.messageTime {
  display: block;
  font-size: 11px;
  text-align: right;
  color: var(--silver);
}

.emptyChat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--silver);
  font-size: 16px;
}
