.settingsContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.settingsSidebar {
  width: 250px;
  min-width: 250px;
  background-color: var(--rich-black);
  padding: 20px 0;
  overflow-y: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.settingsSidebar h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px;
  padding: 0 20px;
}

.settingsNav h4 {
  font-size: 14px;
  color: var(--smoke);
  margin: 20px 0 10px;
  padding: 0 20px;
  font-weight: 600;
}

.settingsNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.settingsNav ul li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--medium-slate);
}

.settingsNav ul li:hover {
  background-color: var(--smoke);
  color: var(--rich-black);
}

.settingsNav ul li.active {
  background-color: var(--stone-gray);
  color: var(--lavender);
  border-left: 5px solid var(--deep-lavender);
}

.settingsContent {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  background-color: var(--medium-slate);
}

.settingsPanel {
  min-width: 400px;
  background-color: var(--smoke);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.settingsPanel h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

@media (max-width: 576px) {
  .settingsSidebar {
    width: 100%;
  }

  .settingsContent {
    display: none;
    padding: 5px;
  }
  .settingsPanel {
    padding: 5px;
    min-width: 150px;
  }

  .closed {
    display: none;
  }
  .open {
    display: block;
  }
}
