:root{
  --box_border: #272462;
  --input: #67288e;
  --input_hover: #c23ae4;
  --button: #67288e;
  --button_hover: #67288e;
  --link: #2196b1;
  --link_hover: #28bddf;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}
.wave-holder {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--input);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.wave span {
  content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.content {
  position: relative;
  z-index: 1;
  font-size: 4em;
  letter-spacing: 2px;
  color: #fff;
}
.wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
.wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.box{
  position: absolute;
  text-align: center;
  border-radius: 10px;
  width: 400px;
  padding: 20px 40px 40px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid var(--box_border);
  backdrop-filter: blur(6px);
}

.box h1{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 0 30px 0;
}

input[type = "text"], input[type = "password"], input[type = "email"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--input);
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  font-size: 17px;
}

input[type = "text"]:focus, input[type = "password"]:focus, input[type = "email"]:focus{
  width: 330px;
  border-color: var(--input_hover);
}

.box input[type = "submit"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid var(--button);
  padding: 14px 40px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 17px;
}

.box input[type = "submit"]:hover{
  background: var(--button_hover);
}

.required{
  font-size: 12px;
  padding: 0;
  color: #fff
}

.register{
  padding-top: 10px;
  color: #fff;
  font-size: 17px;
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.2s ease;
  position: relative;
  padding-bottom: 2px;
  font-size: 17px;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--link_hover);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}

a:hover {
  color: var(--link_hover);
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.errorMessage{
  color: red;
}