.icon-button {
  background: none;
  border: none;
  color: var(--silver);
  font-size: 16px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-right: 10px;
}

.icon-button:hover {
  background-color: var(--error_red);
  color: var(--off-white);
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logout-button {
  color: var(--off-white);
  margin-right: 10px;
}

.icon-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
